.recipe-card {
  width: 500px;
  text-align: center;
  background-color: azure;
  border: 2px solid aqua;
}

.finished-dish-image {
  height: auto;
  width: 80%;
}

.recipe-content {
  text-align: left;
}

ul.prep-time {
  text-align: center;
  padding-left: 0;
}

ul.prep-time li {
  display: inline-block;
}