.finished-dish-image {
  height: 500px;
  width: auto;
}

.recipe-card {
  width: 500px;
  text-align: center;
  background-color: azure;
  border: 2px solid aqua;
}

.recipe-content {
  text-align: left;
}